conda.enabled = true

params {
    // required params

    hifi_dir = '/data2/work/Notothenioids/Dmaw12/Dmaw12_CCS_cells1-3_reads/'
    hic_dir = '/data2/work/Notothenioids/Dmaw12/Dmaw12_HiC_data'
    species_id = 'Dmaw12'
    busco_lineage = 'actinopterygii_odb12'

    est_ref_size = 1000000000 //800 Mb - for QUAST
    mode = "default" // not sure if I plan to add other modes
    outdir = "results"

    nthreads = 16

    // executable locations
    hifiasm = "/usr/local/bin"
    yahs = "/data2/work/local/yahs"
    bwa_mem_env = "/data2/work/local/miniconda/envs/salsa"
    busco_conda = "/data2/work/local/miniconda/envs/busco583"
    quast_conda = "/data2/work/local/miniconda/envs/quast"
    busco_db_path = "/data2/busco_June2024/busco_downloads"
    samblaster = "/data2/work/local/samblaster/samblaster"


}

// Execution reports
// timeline.enabled = true
// report.enabled = true
// trace.enabled = true
dag.enabled = true

// limit total number of threads for the entire process to not exceed nthreads
executor.cpus = params.nthreads
