conda.enabled = true

params {
    // required params

    hifi_reads = null
    hic_reads = null
    species_id = null // species name

    mode = "default" // not sure if I plan to add other modes

    nthreads = 16

    // executable locations
    hifiasm = "/usr/local/bin"
    yahs = "/data2/work/local/yahs"
    bwa_mem_env = "/data2/work/local/miniconda/envs/salsa"
    busco_conda = "/data2/work/local/miniconda/envs/busco583"
    quast_conda = "/data2/work/local/miniconda/envs/quast"
    busco_db_path = "/data2/busco_June2024/busco_downloads"
    samblaster = "/data2/work/local/samblaster/samblaster"

    est_ref_size = 800000000 //800 Mb - for QUAST

}

// Execution reports
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
